body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(img/fondo.gif);
    background-color: rgb(13, 13, 17);
    background-blend-mode: soft-light;
    background-size: 100% 100%;
    background-attachment: fixed;

}
.title{
    color: #ffffff;
    font-family: 'Julius Sans One', sans-serif;
    text-decoration:underline;
}
.portada{
    font-family: 'Julius Sans One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    background-color: rgba(53, 53, 53, 0.248);
    padding: 10px;
    margin: 40px;
}
.materia{
    justify-content: center;
    color: #fff;
    font-size: 1.5rem;
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}
.img1{
    width: 250px;
    height: 250px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 10%;
}

.img2{
    width: 250px;
    height: 250px;
    margin: 0 10px;
    border-radius: 10%;
}
.img3{
    width: 250px;
    height: 250px;
    margin: 0 10px;
    border-radius: 10%;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.btn1{
    width: 110px;
    height: 50px;
    margin: 0 85px;
    background-color: #828282;
    border-radius: 10px;
}
.btn1:hover{
    background-color: rgb(194, 137, 247);
    cursor: pointer;
    color: #fff;
    text-shadow: 0 0 5px #fff,
    0 0 25px #e6e6e6,
    0 0 50px #e6e6e6,
    0 0 100px #e6e6e6;
}
.btn2{
    width: 110px;
    height: 50px;
    margin: 0 70px;
    background-color: #828282;
    border-radius: 10px;
}
.btn2:hover{
    background-color: rgb(137, 210, 247);
    cursor: pointer;
    color: #fff;
    text-shadow: 0 0 5px #fff,
    0 0 25px #e6e6e6,
    0 0 50px #e6e6e6,
    0 0 100px #e6e6e6;
}
.btn3{
    width: 110px;
    height: 50px;
    margin: 0 85px;
    cursor: pointer;
    background-color: #828282;
    border-radius: 10px;
}
.btn3:hover{
    background-color: rgb(247, 137, 225);
    cursor: pointer;
    color: #fff;
    text-shadow: 0 0 5px #fff,
    0 0 25px #e6e6e6,
    0 0 50px #e6e6e6,
    0 0 100px #e6e6e6;
}